@model RentAMovies.Models.ViewModels.RentalManyMovieViewModel
@using RentAMovies.Extensions

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Create VideoKlub</h2>
<br />

<div class="border backgroundWhite">
    <div class="col-8 border-right">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="VideoKlub.CustomerId" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <select asp-items="Model.Customers.ToSelectListItem(Model.VideoKlub.CustomerId)" class="form-control"></select>
                </div>
                <span asp-validation-for="VideoKlub.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="VideoKlub.MovieId" class="col-form-label"></label>
                </div>
                <div class="col-5">
                    <select id="ddlMovielist" asp-items="Model.Movies.ToSelectListItem(Model.VideoKlub.MovieId)" class="form-control"></select>
                </div>
                <span asp-validation-for="VideoKlub.MovieId" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-5 offset-2">
                    <partial name="_CreateAndBackToListButton" />
                </div>
            </div>
        </form>
    </div>

    <div class="col-3 offset-1">
        @if (Model.MovieList.Count() > 0)
        {
            <p> Existing Movies: </p>

            <div id="MovieList">
                <ul class="list-group"></ul>
            </div>
        }
    </div>
</div>




    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
