@model RentAMovies.Models.VideoKlub

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Edit VideoKlub</h2>
<br />

<form method="post" asp-action="Edit">
    <div class="border backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="DateCreated" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="DateCreated" class="form-control" />
            </div>
            <span asp-validation-for="DateCreated" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CustomerId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
            </div>
            <span asp-validation-for="CustomerId" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MovieId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="MovieId" class="form-control" asp-items="ViewBag.MovieId"></select>
            </div>
            <span asp-validation-for="MovieId" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Status" class="form-check-label">Rented </label>
            </div>
            <div class="col-5">
                <input class="form-check-label" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="DateRented" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="DateRented" class="form-control" />
            </div>
            <span asp-validation-for="DateRented" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="DateReturned" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="DateReturned" class="form-control" />
            </div>
            <span asp-validation-for="DateReturned" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_EditAndBackToListButton" model="Model.Id" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
