@model RentAMovies.Models.Rental

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var customer = ViewData["Customer"] as Customer;
    var Movie = ViewData["MoviesSelectList"] as Movie;
}
<h1>Create new rental for</h1>
<h2>@customer.Name</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@customer" id="customer" />
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" id="DateCreated" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRented" class="control-label"></label>
                <input asp-for="DateRented" class="form-control" id="DateRented" />
                <span asp-validation-for="DateRented" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieId" class="control-label"></label>
                <select asp-for="MovieId" class="form-control" id="movie" asp-items="ViewBag.MoviesSelectList"></select>
            </div>
            <div class="form-group">
                <input type="button" value="Add movie" class="btn btn-primary" id="myBtn" />

                <input type="button" asp-controller="Rentals" id="btnPost" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div class="col-12" style="text-align:center">
    <br />
    <span class="h3 text-info">OR</span>
    <br /><br />
</div>





<body>
    <div class="col-12 border p-3">
        <table id="tblMovies" class="table table-striped border table-hover table-light" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>
</body>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script></script>
    <!-- JS includes -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js"></script>

    <script src="//ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    

        <script type="text/javascript">

            $(function () {
                $(document).on('click', '.remove', function () {
                    $(this).parents('tr').remove();
                });
                });


                $(document).ready(function () {
                $("#myBtn").click(function () {
                    var SelectedMovieId = $("#movie option:selected").index() + 1;
                    var SelectedMovieName = $("#movie option:selected").text();
                    var html = '<tbody><tr><td id="MovieId">' + SelectedMovieId + '</td><td id="Movie">' + SelectedMovieName + '</td><td><button class="remove">-</button></td></tr></tbody>';
                    $('#tblMovies').append(html);
                });
                });

                $("body").on("click", "#btnPost", function () {
                    //Loop through the Table rows and build a JSON array.

                    var rentals = new Array();
                    $("#tblMovies TBODY TR").each(function () {
                        var row = $(this);
                        var rental = {};
                        rental.MovieId = row.find("TD").eq(0).html();
                        rental.movie = row.find("TD").eq(1).html();
                        rentals.push(rental);
                    });
                    console.log(rentals);

                    //Send the JSON array to Controller using AJAX.
                    $.ajax({
                type: "POST",
                        url: "/Rentals/Create",
                        data: JSON.stringify(rentals),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (r) {
                alert(r + " record(s) inserted.");
                        }
                    });
                });


                /*  $("#btnPost").click(function () {
                // var rental = new Object();
                movieId = $("#movie option:selected").index() + 1;
                      //rental.movieName = $("#movie option:selected").text();
                     // if (rental != null) {
                $.ajax({
                    type: "POST",
                    url: "/Rentals/Create",
                    data: { "customer": $("#customer").val(), "DateCreated": $("#DateCreated").val(), "DateRented": $("#DateRented").val(), "MovieId": $("#DT_load").val() },
                    //  contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response != null) {
                            alert("Name : " + rental.movieName);
                        } else {
                            alert("Something went wrong");
                        }
                    },
                    failure: function (response) {
                        alert("gegegeg");
                    },
                    error: function (response) {
                        alert("buccucuc");
                    }
                });
                    //  }
                  });  */





    </script>


}
