@model RentAMovies.Models.ShoppingCart

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Item Details</h2>
<br />
<p>@Model.Count</p>

<partial name="_StatusMessage" model="Model.StatusMessage" />

<form method="post">
    <div class="border backgroundWhite row">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-12 pb-4 d-md-none">
            <img src="@Model.Movie.Image2" width="100%" style="border-radius:5px;border: 1px solid #bbb9b9;" />
        </div>
        <div class="col-md-8">
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Movie.Name" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Movie.Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Movie.MovieDescription" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <div class="border p-2">
                        @Html.Raw(Model.Movie.MovieDescription)
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Movie.GenreId" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Movie.Genre.Name" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Movie.DateAdded" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Movie.DateAdded" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Movie.ReleaseDate" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Movie.ReleaseDate" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Movie.NumberInStock" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Movie.NumberInStock" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label asp-for="Movie.NumberAvailable" class="text-info font-weight-bold"></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Movie.NumberAvailable" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row" hidden>
                <div class="col-md-4">
                    <label asp-for="Movie.Price" class="text-info font-weight-bold" ></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Movie.Price" readonly class="form-control" />
                </div>
            </div>
            <div class="form-group row" hidden>
                <div class="col-md-4">
                    <label asp-for="Count" class="text-info font-weight-bold" ></label>
                </div>
                <div class="col-md-8">
                    <input asp-for="Count" class="form-control" />
                    <span asp-validation-for="Count" class="text-danger" ></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <a asp-action="Index" class="myButtonGreen text-white text-center form-control">Back to List</a>
                </div>
                <div class="col-md-4">
                    <button type="submit" value="Add to Cart" class="myButtonBlue text-white form-control">Add Movie</button>
                </div>
            </div>
        </div>
        <div class="col-md-3 offset-1 d-none d-md-block">
            <img src="@Model.Movie.Image2" width="100%" style="border-radius:5px;border: 1px solid #bbb9b9;" />
        </div>



    </div>
    <input asp-for="MovieId" hidden />
</form>

@section Scripts{


    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}